@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:wght@200&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-image: url("assets/landing_page1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
}

/******** Header ********/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
nav {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
}
.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  padding: 10px;
  transition: transform 0.3s ease, font-size 0.3s ease;
}
.nav-links a:hover {
  transform: scale(1.1);
  font-size: 25px;
}
.logo {
  padding-left: 10px;
  margin-top: 20px;
}

/******** Search-container ********/
.search-container {
  position: relative;
  display: flex;
  align-items: center;
}
.search-container input {
  width: 349px;
  height: 37px;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  background-color: #c8c8c8;
}
.search-container input::placeholder {
  position: absolute;
  left: 35%;
}
.search-container input:focus {
  outline: none;
}
.dropdownSettings {
  border: none;
  background-color: transparent;
}
#settingsIcon {
  background-color: transparent;
  cursor: pointer;
}
#clearButton {
  border: none;
  position: absolute;
  right: 15%;
  top: 30%;
  color: #818181;
  background-color: transparent;
}
#searchButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#searchButton img {
  padding: 10px;
}

/******** Main ********/
main {
  margin: 60px 20px;
  padding: 80px 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-wrapper {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.container {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1031px;
  margin: auto;
  gap: 40px;
  /* margin-top: 70px; */
}
.container h1 {
  font-size: 78px;
  font-weight: 700;
  text-align: center;
}
.container p {
  width: 70%;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}
.arrow-left,
.arrow-right {
  transition: transform 0.3s ease;
}
.arrow-left:hover {
  transform: translateX(-10px);
}
.arrow-right:hover {
  transform: translateX(10px);
}
/******** Results: Detail data display ********/
.result-container{
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.result-container .table-container {
  width: 60%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
  height: 550px;
  padding-top: 0.5rem;
  border-radius: 20px;
}

.table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 3em 0;
}

.table-header h2{
  text-transform: capitalize;
  text-align: center;
  margin: 0.8em 0;
}

.filters {
  display: flex;
  justify-content: end;
  align-items: last baseline;
  gap: 10px;
  padding-bottom: 5px;
}

.filters button {
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.filters button:first-child {
  background-color: rgba(75, 192, 192, 1);
}

.result-container .table-container table{
  display: block;
  width: 90%;
  margin: auto;
  height: 420px;
  overflow: scroll;
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  border-collapse: collapse;
}

.result-container .table-container table tr{
  width: 100%;
}

.result-container .table-container table tr th{
  text-transform: capitalize;
  font-weight: bold;
  background-color: gray;
  position: sticky;
  width: 300px;
  top: 0;
  padding: 0.5em;
}

.result-container .table-container table tbody tr td{
  width: 300px;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.1);
} 

.result-container .table-container .pagination{
  width: 35%;
  margin: 1.5em auto;
  display: flex;
  justify-content: space-evenly;
}

.result-container .table-container .pagination button{
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.result-container .table-container .pagination button:hover{
  background-color: gray;
  color: #fff;
  border: solid 1px #fff;
}

.result-container .table-container .pagination button.active{
  background-color: gray;
  color: #fff;
  border: solid 1px #fff;
}

.fa-sort-up, .fa-sort-down {
  cursor: pointer;
}
.fa-sort-up:hover, .fa-sort-down:hover {
  opacity: 0.5;
}

.page-info-wrapper{
  width: 80%;
  margin: 1.5em auto;
}

.page-info-wrapper .next-prev-container button{
  background: none;
  border: none;
  margin: 0 0.8em;
  font-size: 1em;
  cursor: pointer;
  opacity: 0.8;
}

.page-info-wrapper .next-prev-container button:hover{
  opacity: 1;
  transform: scale(1.1);
  transition: 0.3s;
}

.page-info-wrapper .next-prev-container button i{
  margin: 0 0.1em;
}

/******** Chart ********/
.histogram {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  gap: 30px;
}
.chart {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  background-color: #22262F;
}
canvas {
  min-width: 400px;
  min-height: 200px;
}
.calculate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.calculate span {
  /* display: list-item;
  margin-left: 20px; */
  width: 45%;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
  padding: 20px;
}

/******** Advance search ********/

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #BCBCBC;
  opacity: 0.7;
  width: 900px;
  height: auto;
  padding: 20px;
  border-radius: 10px;
}
.filter-options {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5px;
  font-weight: 700;
  opacity: 1;
}
.filter-options h3 {
  margin-bottom: 10px;
}
.filter-options label {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.filter-options label input {
  border: none;
  background-color: transparent;
  /* border-bottom: 1px solid #404142; */
  outline: none;
}
.filter-options label input:focus {
  border-bottom: 1px solid #404142;
}
.filter-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}
.prev-results {
  width: 479px;
  height: 256px;
  background-color: #D9D9D9;
}
.prev-results h3 {
  padding: 20px;
}
.filter-btn {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: last baseline;
}
.filter-btn button {
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  color:#fff;
  background-color: #389F36;
  opacity: 1;
}
.filter-btn button:first-child {
  background-color: #F16122;
}
.filter-btn button:last-child {
  background-color: transparent;
  color: #000;
  border: 1px solid #000;
  border-radius: none;
}
.no-results {
  margin-bottom: 20px;
  background-color: #BCBCBC;
  color: #000;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  text-align: center;
  opacity: 0.7;
}
/******** Footer ********/
footer {
  color: #fff;
  width: 100%;
}
.footer-container {
  position: fixed;
  bottom: 0%;
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  gap: 20px;
}
.footer-container a {
  text-decoration: none;
  color: #fff;
}

/******** Misc ********/
.hidden {
  display: none;
}