@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:wght@200&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Poppins:wght@200&family=Roboto:wght@400;700&family=VT323&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background-image: url("assets/landing_page1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
}

/******** Normalize ********/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

ul li {
  list-style: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

/******** Header ********/
/* header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
} */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
}

nav .mainMenu {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

nav .mainMenu a {
  display: flex;
  list-style: none;
}

nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
}

nav .mainMenu li a:hover {
  background: #000;
  font-size: 1.6rem;
}

nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}

nav .mainMenu .closeMenu {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

nav .logo {
  margin: 6px;
  font-size: 25px;
  cursor: pointer;
}

nav .dropdownSettings {
  font-size: 1.2rem;
}

nav .dropdownSettings:hover {
  font-size: 1.6rem;
}

@media (max-width: 800px) {
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: top 1s ease;
    display: none;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu {
    display: block;
  }
  nav .mainMenu li a:hover {
    background: none;
    font-size: 1.6rem;
  }
}
/* header ul {
  display: flex;
}
header ul li {
  transition: transform 200ms;
}
header ul li:hover {
  transform: scale(1.2);
}
header ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  display: inline-block;
  padding: 10px;
  /* transition: transform 0.3s ease, font-size 0.3s ease; */
/* } */
/* ul li a:hover {
  transform: scale(1.1);
  font-size: 25px;
} */
.logo {
  padding-left: 10px;
  margin-top: 20px;
}

/******** Search-container ********/
.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-container input {
  width: 600px;
  height: 47px;
  border: 1px solid #c8c8c8;
  border-radius: 15px;
  background-color: #c8c8c8;
}

.search-container input::-moz-placeholder {
  position: absolute;
  left: 35%;
}

.search-container input::placeholder {
  position: absolute;
  left: 35%;
}

.search-container input:focus {
  outline: none;
}

.dropdownSettings {
  border: none;
  background-color: transparent;
}

#settingsIcon {
  background-color: transparent;
}

#clearButton {
  border: none;
  position: absolute;
  right: 10%;
  top: 20%;
  color: #818181;
  background-color: transparent;
}

#searchButton {
  background-color: transparent;
  border: none;
}

#searchButton img {
  padding: 10px;
}

/******** Main ********/
main {
  margin: 40px 20px;
  padding: 40px 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.container {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1031px;
  margin: auto;
  gap: 40px;
  /* margin-top: 70px; */
}

.container h1 {
  font-size: 78px;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 800px) {
  .container h1 {
    font-size: 50px;
    margin: 0 10px;
    max-width: 600px;
    word-wrap: break-word;
  }
}
@media (max-width: 500px) {
  .container h1 {
    font-size: 40px;
    max-width: 300px;
    word-wrap: break-word;
  }
}
.container p {
  width: 70%;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

@media (max-width: 800px) {
  .container p {
    font-size: 16px;
    margin: 0 10px;
    max-width: 500px;
    word-wrap: break-word;
  }
}
@media (max-width: 500px) {
  .container p {
    font-size: 12px;
    max-width: 300px;
    word-wrap: break-word;
  }
}
.container button {
  padding: 15px 80px;
  font-size: 20px;
  border: 1px solid transparent;
  border-radius: 15px;
}

@media (max-width: 800px) {
  .container button {
    padding: 8px 16px;
    margin: 0 auto;
    border-radius: 8px;
    font-size: 14px;
  }
}
.arrow-left,
.arrow-right {
  transition: transform 0.3s ease;
}

.arrow-left:hover {
  transform: translateX(-10px);
}

.arrow-right:hover {
  transform: translateX(10px);
}

/******** Results: Detail data display ********/
.result-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.result-container .table-container {
  width: 85%;
  margin: auto;
  height: 550px;
  padding-top: 0.5rem;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}

.table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 3em 0;
}

.table-header h2 {
  text-transform: capitalize;
  text-align: center;
  margin: 0.8em 0;
  color: #fff;
}

.filters {
  display: flex;
  justify-content: end;
  align-items: last baseline;
  gap: 10px;
  padding-bottom: 5px;
}

.filters button {
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.result-container .table-container table {
  display: block;
  width: 100%;
  margin: auto;
  height: 90%;
  overflow: scroll;
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  border-collapse: collapse;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.result-container .table-container table::-webkit-scrollbar {
  width: 7px;
  height: 0;
}

.table-container {
  display: block;
  width: 80%;
  margin: auto;
  overflow: scroll;
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  border-collapse: collapse;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 0.5rem;
  border-radius: 20px;
}

.table-container table::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.table-container table tr {
  width: 100%;
}

.table-container table tr th {
  text-transform: capitalize;
  font-weight: bold;
  background-color: #fff;
  position: sticky;
  width: 300px;
  top: 0;
  padding: 0.5em;
  border: 2px solid rgba(255, 255, 255, 0.5);
  text-align: left;
  z-index: 10;
}

.table-container table tbody tr td {
  width: 300px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 0.7em 0.5em;
  opacity: 0.8;
  font-size: 0.8em;
}

.table-container .pagination {
  width: 35%;
  margin: 1.5em auto;
  display: flex;
  justify-content: space-evenly;
}

.table-container .pagination button {
  display: none;
}

.fa-sort-up,
.fa-sort-down {
  cursor: pointer;
}

.fa-sort-up:hover,
.fa-sort-down:hover {
  opacity: 0.5;
}

.page-info-wrapper {
  width: 100%;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.page-info-wrapper .next-prev-container button {
  background: none;
  border: none;
  margin: 0 0.8em;
  font-size: 1em;
  opacity: 0.8;
}

.page-info-wrapper .next-prev-container button:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: 0.3s;
  color: blueviolet;
}

.page-info-wrapper .next-prev-container button i {
  margin: 0 0.1em;
}

.page-info-wrapper .pagination-info {
  opacity: 0.8;
}

/************About section**********/
.mission-section,
.journey-section,
.credit-section {
  display: flex;
  justify-content: space-between;
}

.about-section,
.mission-section,
.our-team,
.journey-section,
.credit-section {
  margin-bottom: 4rem;
}

.about-section,
.mission-section,
.journey-section,
.credit-section {
  margin-left: 10px;
}

@media (max-width: 800px) {
  .mission-section,
  .journey-section,
  .credit-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mission-section,
  .credit-section {
    flex-direction: column;
  }
  .journey-section {
    flex-direction: column-reverse;
  }
}
.mission-text,
.journey-text,
.credit-text {
  max-width: 600px;
  line-height: 1.5;
  margin-bottom: 2rem;
  color: #fff;
  text-align: center;
}

@media (max-width: 800px) {
  .mission-text,
  .journey-text,
  .credit-text {
    max-width: 500px;
    font-size: 14px;
  }
}
.mission-image,
.journey-image,
.credit-image {
  max-width: 500px;
  height: 300px;
}

.about-section {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 10px;
}

.about-text {
  line-height: 1.5;
  font-weight: 400;
}

/* Main content of About Page */
.about-page {
  margin: 4.4rem 3rem;
  color: #fff;
}

/* .about-page h1 {
  font-family: 'Inter', sans-serif;
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 2rem;
} */
.sub-heading {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
}

@media (max-width: 800px) {
  .sub-heading {
    font-size: 30px;
  }
}
.sub-heading p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.our-team {
  text-align: center;
}

.arrow-down {
  font-size: 32px;
  color: #fff;
}

.team-card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 4rem 4rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.team-card {
  margin: 1rem;
  padding: 1rem 1rem;
  background-color: #3d3d3d;
  flex-basis: 25%;
  text-align: center;
  flex: 1;
  border-radius: 50px;
}

.profile-image {
  max-width: 200px;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 50%;
  max-height: 200px;
}

@media (max-width: 800px) {
  .team-card {
    flex-basis: 50%;
  }
  .profile-image {
    max-height: 150px;
  }
}
.team-card h3 {
  margin-bottom: 0.5rem;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

.skill {
  margin-bottom: 1rem;
  color: #ffffff;
}

button {
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

button a {
  text-decoration: none;
  color: #000;
}

/******** Advanced search ********/
#advanceSearch {
  width: 100%;
}

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: auto;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.filter-options {
  display: flex;
  flex-direction: row;
  background-color: #bcbcbc;
  align-items: center;
  font-weight: 700;
  padding: 20px;
  border-radius: 10px;
  opacity: 0.7;
  gap: 20px;
}

.filter-select {
  display: block;
}

.filter-select label {
  padding: 0px 10px;
}

.custom-select {
  min-width: 250px;
  display: flex;
  gap: 10px;
}

.sel {
  position: relative;
}

.sel select {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  font-size: 15px;
  padding: 0.675em 2em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 10px;
  color: #000;
  outline: none;
  cursor: pointer;
}

.sel::after {
  position: absolute;
  content: "⛛";
  top: 55%;
  right: 10px;
  transform: translateY(-50%);
}

.show-search {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #bcbcbc;
  padding: 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  opacity: 0.7;
}

.prev-results {
  height: 160px;
  padding: 15px 50px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #22262f;
  color: #fff;
  font-family: "VT323", monospace;
  overflow-y: scroll;
}

.prev-results .delete-btn {
  margin-left: 10px;
}

.clear-btn {
  padding: 5px 10px;
  width: 50%;
  align-self: center;
  border: 1px solid transparent;
  border-radius: 10px;
  font-size: 20px;
}

.filter-btn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-btn button {
  padding: 5px 25px;
  font-size: 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  background-color: #389f36;
  opacity: 1;
}

.filter-btn button:first-child {
  background-color: #f16122;
}

.filter-btn button:last-child {
  background-color: #389f36;
}

.no-results {
  display: block;
  width: 50%;
  margin: 20px auto;
  background-color: #bcbcbc;
  color: #000;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  text-align: center;
  opacity: 0.7;
}

/******** Chart ********/
.map {
  width: 100%;
  position: relative;
}

.map button {
  position: absolute;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px 15px;
  border: 1px solid transparent;
  top: 2%;
  right: 2%;
  z-index: 9999;
}

/******** Chart ********/
.chart-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.histogram {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chart {
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #22262f;
}

canvas {
  min-width: 600px;
  min-height: 350px;
}

.calculate {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
}

.calculate p {
  width: 45%;
  text-align: center;
  border-radius: 10px;
  background-color: #bcbcbc;
  color: #000;
  padding: 5px 30px;
}

/******** Map ********/
#map {
  width: 100%;
  border-radius: 10px;
}

/******** Footer ********/
footer {
  color: #fff;
  width: 100%;
}

.footer-container {
  display: block;
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  gap: 20px;
}

.footer-container a {
  text-decoration: none;
  color: #fff;
}

/******** Misc ********/
.hidden {
  display: none;
}

.star {
  width: 1px;
  height: 1px;
  background-color: transparent;
  box-shadow: 672px 653px #fff, 1006px 601px #fff, 871px 468px #fff, 854px 31px #fff, 4px 701px #fff, 607px 348px #fff, 963px 488px #fff, 907px 633px #fff, 1658px 752px #fff, 631px 60px #fff, 105px 510px #fff, 3px 684px #fff, 294px 937px #fff, 1009px 432px #fff, 336px 377px #fff, 1428px 780px #fff, 724px 329px #fff, 1271px 127px #fff, 798px 880px #fff, 1430px 105px #fff, 580px 188px #fff, 1477px 255px #fff, 1837px 576px #fff, 171px 38px #fff, 1698px 219px #fff, 1058px 495px #fff, 1105px 233px #fff, 744px 181px #fff, 1599px 488px #fff, 920px 325px #fff, 218px 242px #fff, 1192px 139px #fff, 838px 964px #fff, 1217px 299px #fff, 1268px 64px #fff, 1264px 108px #fff, 738px 66px #fff, 1347px 447px #fff, 1591px 710px #fff, 208px 163px #fff, 1775px 603px #fff, 705px 233px #fff, 336px 939px #fff, 1308px 577px #fff, 916px 743px #fff, 21px 706px #fff, 853px 225px #fff, 213px 299px #fff, 1449px 987px #fff, 500px 542px #fff, 1442px 434px #fff, 1483px 959px #fff, 975px 884px #fff, 1143px 616px #fff, 866px 114px #fff, 1787px 866px #fff, 673px 143px #fff, 169px 676px #fff, 994px 193px #fff, 69px 857px #fff, 915px 383px #fff, 1149px 653px #fff, 829px 203px #fff, 1816px 396px #fff, 1644px 812px #fff, 945px 497px #fff, 979px 922px #fff, 460px 167px #fff, 1702px 600px #fff, 542px 516px #fff, 1366px 333px #fff, 733px 842px #fff, 1489px 763px #fff, 635px 380px #fff, 1622px 719px #fff, 1399px 138px #fff, 703px 226px #fff, 613px 159px #fff, 733px 688px #fff, 782px 1000px #fff, 789px 292px #fff, 1478px 729px #fff, 1432px 852px #fff, 987px 521px #fff, 1327px 973px #fff, 1692px 970px #fff, 110px 563px #fff, 524px 391px #fff, 1241px 25px #fff, 1468px 90px #fff, 172px 896px #fff, 631px 794px #fff, 1015px 2px #fff, 548px 710px #fff, 1367px 388px #fff, 775px 269px #fff, 400px 136px #fff, 453px 464px #fff, 936px 136px #fff, 497px 838px #fff, 1421px 687px #fff, 1124px 342px #fff, 795px 132px #fff, 1016px 15px #fff, 972px 980px #fff, 906px 660px #fff, 1826px 222px #fff, 548px 551px #fff, 708px 498px #fff, 318px 192px #fff, 746px 664px #fff, 1610px 190px #fff, 363px 94px #fff, 1180px 998px #fff, 1769px 174px #fff, 1576px 602px #fff, 792px 530px #fff, 224px 949px #fff, 435px 920px #fff, 364px 694px #fff, 950px 716px #fff, 1070px 711px #fff, 1042px 513px #fff, 1636px 939px #fff, 703px 426px #fff, 1508px 797px #fff, 10px 820px #fff, 718px 222px #fff, 850px 190px #fff, 1390px 669px #fff, 1565px 149px #fff, 1814px 992px #fff, 457px 166px #fff, 1812px 891px #fff, 1040px 922px #fff, 1734px 517px #fff, 1237px 799px #fff, 963px 381px #fff, 1736px 814px #fff, 409px 98px #fff, 365px 637px #fff, 1536px 336px #fff, 260px 293px #fff, 1902px 238px #fff, 307px 203px #fff, 1306px 120px #fff, 1853px 365px #fff, 1711px 524px #fff, 1520px 258px #fff, 782px 572px #fff, 1679px 561px #fff, 1202px 280px #fff, 1425px 381px #fff, 1190px 974px #fff, 1886px 167px #fff, 763px 792px #fff, 481px 822px #fff, 848px 320px #fff, 666px 189px #fff, 409px 767px #fff, 253px 585px #fff, 71px 779px #fff, 1603px 407px #fff, 750px 6px #fff, 932px 593px #fff, 1850px 513px #fff, 1613px 420px #fff, 575px 988px #fff, 254px 234px #fff, 1666px 416px #fff, 1796px 427px #fff, 1613px 184px #fff, 1030px 961px #fff, 1351px 747px #fff, 20px 960px #fff, 869px 553px #fff, 1379px 430px #fff, 1504px 846px #fff, 1712px 503px #fff, 1119px 326px #fff, 1753px 663px #fff, 119px 162px #fff, 308px 709px #fff, 1536px 417px #fff, 876px 141px #fff, 1870px 975px #fff, 1112px 62px #fff, 934px 970px #fff, 18px 889px #fff, 1612px 861px #fff, 1848px 433px #fff, 1230px 667px #fff, 963px 1px #fff, 1788px 85px #fff, 1904px 887px #fff, 1392px 478px #fff, 216px 708px #fff, 719px 881px #fff, 247px 547px #fff, 66px 80px #fff, 1873px 493px #fff, 1387px 929px #fff, 1185px 465px #fff, 254px 54px #fff, 569px 830px #fff, 225px 983px #fff, 1849px 363px #fff, 958px 89px #fff, 564px 473px #fff, 522px 290px #fff, 447px 235px #fff, 1295px 616px #fff, 600px 683px #fff, 472px 460px #fff, 1774px 619px #fff, 1846px 132px #fff, 1653px 206px #fff, 1072px 800px #fff, 1238px 695px #fff, 932px 34px #fff, 984px 848px #fff, 1370px 564px #fff, 279px 611px #fff, 1739px 371px #fff, 375px 672px #fff, 422px 896px #fff, 93px 905px #fff, 108px 815px #fff, 881px 177px #fff, 364px 798px #fff, 665px 771px #fff, 194px 695px #fff, 601px 210px #fff, 1190px 225px #fff, 600px 570px #fff, 1518px 236px #fff, 527px 38px #fff, 66px 659px #fff, 233px 89px #fff, 1741px 466px #fff, 951px 904px #fff, 716px 375px #fff, 12px 8px #fff, 1781px 955px #fff, 1637px 621px #fff, 482px 130px #fff, 1896px 469px #fff, 1520px 44px #fff, 712px 732px #fff, 1191px 526px #fff, 996px 145px #fff, 377px 576px #fff, 804px 367px #fff, 1001px 722px #fff, 1294px 975px #fff, 1299px 242px #fff, 500px 375px #fff, 53px 574px #fff, 1086px 460px #fff, 1071px 892px #fff, 932px 493px #fff, 1748px 975px #fff, 415px 121px #fff, 1131px 561px #fff, 992px 397px #fff, 12px 94px #fff, 329px 910px #fff, 587px 588px #fff, 396px 608px #fff, 1635px 119px #fff, 1309px 308px #fff, 178px 719px #fff, 1834px 225px #fff, 1777px 487px #fff, 1863px 881px #fff, 1345px 21px #fff, 325px 287px #fff, 524px 312px #fff, 1032px 371px #fff, 1577px 834px #fff, 1147px 590px #fff, 1246px 811px #fff, 421px 311px #fff, 335px 228px #fff, 1288px 257px #fff, 1661px 499px #fff, 20px 590px #fff, 1278px 476px #fff, 674px 449px #fff, 1239px 749px #fff, 1638px 260px #fff, 963px 317px #fff, 392px 318px #fff, 1221px 863px #fff, 1857px 862px #fff, 309px 488px #fff, 988px 81px #fff, 1761px 10px #fff, 622px 488px #fff, 959px 377px #fff;
}

.meteor-1 {
  position: absolute;
  top: 249px;
  left: 54%;
  width: 400px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 19.9s linear infinite;
}
.meteor-1::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-2 {
  position: absolute;
  top: 210px;
  left: 97%;
  width: 400px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 22.9s linear infinite;
}
.meteor-2::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-3 {
  position: absolute;
  top: 63px;
  left: 87%;
  width: 400px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 11.8s linear infinite;
}
.meteor-3::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-4 {
  position: absolute;
  top: 110px;
  left: 30%;
  width: 400px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 31.8s linear infinite;
}
.meteor-4::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-5 {
  position: absolute;
  top: 168px;
  left: 57%;
  width: 400px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 10.6s linear infinite;
}
.meteor-5::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-6 {
  position: absolute;
  top: 99px;
  left: 75%;
  width: 400px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.7s linear infinite;
}
.meteor-6::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-7 {
  position: absolute;
  top: 261px;
  left: 84%;
  width: 400px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 10.8s linear infinite;
}
.meteor-7::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-8 {
  position: absolute;
  top: 66px;
  left: 38%;
  width: 400px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 30.8s linear infinite;
}
.meteor-8::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-9 {
  position: absolute;
  top: 198px;
  left: 37%;
  width: 400px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 22.9s linear infinite;
}
.meteor-9::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-10 {
  position: absolute;
  top: 292px;
  left: 38%;
  width: 400px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 11.2s linear infinite;
}
.meteor-10::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-11 {
  position: absolute;
  top: 198px;
  left: 28%;
  width: 400px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 5.6s linear infinite;
}
.meteor-11::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-12 {
  position: absolute;
  top: 258px;
  left: 16%;
  width: 400px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 17.4s linear infinite;
}
.meteor-12::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-13 {
  position: absolute;
  top: 169px;
  left: 56%;
  width: 400px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 3.5s linear infinite;
}
.meteor-13::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-14 {
  position: absolute;
  top: 56px;
  left: 91%;
  width: 400px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 13.4s linear infinite;
}
.meteor-14::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-15 {
  position: absolute;
  top: 107px;
  left: 14%;
  width: 400px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 31.9s linear infinite;
}
.meteor-15::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-16 {
  position: absolute;
  top: 289px;
  left: 19%;
  width: 400px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 9.5s linear infinite;
}
.meteor-16::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-17 {
  position: absolute;
  top: 211px;
  left: 21%;
  width: 400px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 4.5s linear infinite;
}
.meteor-17::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-18 {
  position: absolute;
  top: 259px;
  left: 97%;
  width: 400px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 10.1s linear infinite;
}
.meteor-18::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-19 {
  position: absolute;
  top: 160px;
  left: 80%;
  width: 400px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 26s linear infinite;
}
.meteor-19::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-20 {
  position: absolute;
  top: 192px;
  left: 87%;
  width: 400px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 5.6s linear infinite;
}
.meteor-20::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-21 {
  position: absolute;
  top: 141px;
  left: 35%;
  width: 400px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 17s linear infinite;
}
.meteor-21::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-22 {
  position: absolute;
  top: 75px;
  left: 24%;
  width: 400px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 13.5s linear infinite;
}
.meteor-22::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-23 {
  position: absolute;
  top: 179px;
  left: 56%;
  width: 400px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 30.7s linear infinite;
}
.meteor-23::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-24 {
  position: absolute;
  top: 221px;
  left: 53%;
  width: 400px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 30.4s linear infinite;
}
.meteor-24::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-25 {
  position: absolute;
  top: 51px;
  left: 56%;
  width: 400px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  animation: meteor 9.1s linear infinite;
}
.meteor-25::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */