* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-image: url("assets/landing_page1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  color: #fff;
}

nav .mainMenu {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

nav .mainMenu a {
  display: flex;
  list-style: none;
}

nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  transition: transform 200ms;
}

nav .mainMenu li a:hover {
  transform: scale(1.2);
}

nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}

nav .mainMenu .closeMenu {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

nav .logo {
  margin: 6px;
  font-size: 25px;
  cursor: pointer;
}
.logo-title {
  color: #971b1e;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

nav .dropdownSettings {
  font-size: 1.2rem;
}

nav .dropdownSettings:hover {
  font-size: 1.6rem;
}

@media (max-width: 800px) {
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: top 1s ease;
    display: none;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu {
    display: block;
  }
  nav .mainMenu li a:hover {
    background: none;
    font-size: 1.6rem;
  }
}
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.video-container video {
  max-width: 100%;
}
.project-section {
  margin: 40px auto;
  color: rgb(8, 229, 245);
  padding: 20px;
  max-width: 800px;
}
h1 {
  font-size: 60px;
  margin-bottom: 2rem;
  text-align: center;
}
h2 {
  font-size: 36px;
  margin-bottom: 1rem;
}
h3 {
  font-size: 28px;
  margin-bottom: 1rem;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 4rem;
}
.link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.link a {
  color: rgb(8, 229, 245);
  text-decoration: none;
}
.link i {
  margin: 10px;
  color: rgb(8, 229, 245);
}
.about-section {
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 10px;
}
.about-text {
  line-height: 1.5;
  font-weight: 400;
}
/* Team Section */
.about-page {
  margin: 4.4rem 3rem;
  color: rgb(8, 229, 245);
}

.sub-heading {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  /* color: #fff; */
  margin-bottom: 2rem;
}
@media (max-width: 800px) {
  .sub-heading {
    font-size: 30px;
  }
}
.sub-heading p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.our-team {
  text-align: center;
}
.arrow-down {
  font-size: 32px;
  font-weight: 900;
  /* color: #fff; */
}
.team-card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 4rem 4rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.team-card {
  margin: 1rem;
  padding: 1rem 1rem;
  background-color: rgb(61, 61, 61, 0.5);
  flex-basis: 25%;
  text-align: center;
  flex: 1;
  border-radius: 50px;
}
.profile-image {
  max-width: 200px;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 50%;
  max-height: 200px;
}
@media (max-width: 800px) {
  .team-card {
    flex-basis: 50%;
  }
  .profile-image {
    max-height: 150px;
  }
}
.team-card h3 {
  margin-bottom: 0.5rem;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  /* color: #ffffff; */
}
.skill {
  margin-bottom: 1rem;
  /* color: #ffffff; */
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons i {
  width: 48px;
  height: 48px;
  /* color: #fff; */
  color: rgb(8, 229, 245);
  font-size: 25px;
}
/******** Footer ********/
footer {
  color: rgb(8, 229, 245);
  width: 100%;
}
.footer-container {
  display: block;
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  gap: 20px;
}
.footer-container a {
  text-decoration: none;
  color: rgb(8, 229, 245);
}
