* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background: url("image/About\ Us\ \(1\).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  color: #fff;
}

nav .mainMenu {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

nav .mainMenu a {
  display: flex;
  list-style: none;
}

nav .mainMenu li a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  transition: transform 200ms;
}

nav .mainMenu li a:hover {
  transform: scale(1.2);
}

nav .openMenu {
  font-size: 2rem;
  margin: 20px;
  display: none;
  cursor: pointer;
}

nav .mainMenu .closeMenu {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

nav .logo {
  margin: 6px;
  font-size: 25px;
  cursor: pointer;
}
.logo-title {
  color: #971b1e;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

nav .dropdownSettings {
  font-size: 1.2rem;
}

nav .dropdownSettings:hover {
  font-size: 1.6rem;
}

@media (max-width: 800px) {
  nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: top 1s ease;
    display: none;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu {
    display: block;
  }
  nav .mainMenu li a:hover {
    background: none;
    font-size: 1.6rem;
  }
}
.container {
  margin: 40px auto;
  color: rgb(8, 229, 245);
  padding: 20px;
  max-width: 800px;
  /* background: #524848; */
  border-radius: 20px;
}
h1 {
  font-size: 60px;
  margin-bottom: 2rem;
  text-align: center;
}
h2 {
  font-size: 36px;
  margin-bottom: 1rem;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 4rem;
}
.button {
  display: block;
  text-align: center;
}
button {
  background: rgb(34, 34, 139);
  padding: 8px 16px;
  color: #fff;
  border-radius: 8px;
}
/******** Footer ********/
footer {
  color: rgb(8, 229, 245);
  width: 100%;
}
.footer-container {
  display: block;
  margin-bottom: 2rem;
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  gap: 20px;
}
.footer-container a {
  text-decoration: none;
  color: rgb(8, 229, 245);
}
